P 
{
	TEXT-ALIGN: justify;
	font-size: small;

}

BODY
{
	MARGIN-LEFT: 2%;
	MARGIN-RIGHT: 2%;
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif;
	background-color: #99FF99;
	font-size: small;
}
}
