P 
{
	TEXT-ALIGN: justify;
	font-size: small;

}

BODY
{
	MARGIN-LEFT: 2%;
	MARGIN-RIGHT: 2%;
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif;
	background-color: #FF9933;
	font-size: small;
}
}
